@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.category {
  font-size: 30px;
}
.talk_name {
  font-size: 16px;
  font-weight: bold;
}
.talk_message {
  font-size: 14px;
}
.talk_time {
  font-size: 14px;
  color: #bdbbbf;
}
.talk_new {
  font-size: 20px;
  color: white;
}
