@import url("font.css");

.header {
  display: flex;
  align-items: center;
  margin-left: 127px;
  margin-right: 127px;
}
.funtion {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}
.funtion > li > button {
  margin-left: 15px;
  border: none;
  background-color: white;
  border-radius: 20px;
}
.funtion > li > button:hover {
  background-color: #eeeeee;
}
.funtion > li > button > img {
  width: 24px;
}

.main {
  display: flex;
  align-items: center;
  margin-left: 127px;
  margin-right: 127px;
}
.profile_picture {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.talk_info_1 {
  list-style-type: none;
}
.talk_info_2 {
  list-style-type: none;
  margin-left: auto;
}

.talk_new {
  background-color: #ff6248;
  border-radius: 10px;
  text-align: center;
  background-size: none;
}
