input[id*='popup'] {
  display: none;
}
input[id*='popup'] + label {
  background-color: white;
  color: black;
}
input[id*='popup'] + label:hover {
  color: rgb(148, 178, 239);
}
input[id*='popup'] + label + div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}
input[id*='popup'] + label + div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #fff;
  z-index: 2;
}

input[id*='popup'] + label + div > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
input[id*='popup']:checked + label + div {
  display: block;
}

input[id*='popup'] + label {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
