.topview-background {
    width: 100vw; height: 10vh;
    position: relative; top: 50%; left: 50%; transform: translate(-50%, 0%);
    background-color: white;
}

.topview-row {
    display: flex;
    flex-direction: row;
}

.topview-reverserow {
    display: flex;
    flex-direction: row-reverse;
}

.topview-title {
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Tahoma;
    margin-left: 2%;
}

.topview-dropdown-menu {
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2%;
}