.find-background {
    width: 100vw; min-height: 80vh;
    position: relative; top: 50%; left: 50%; transform: translate(-50%, 0%);
    background-color: rgb(248, 248, 248);
    display: flex;
}

.find-mainpanel {
    width: 75%;
    display: flex;
    flex-wrap: wrap; flex-grow: 0;
    column-gap: 1em; row-gap: 3em;
    margin: 5vh auto;
}

.find-content {
    width: 23%; height: 40vh;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
}

.find-contentimg {
    min-width: 70%; min-height: 70%;
    max-width: 80%; max-height: 75%;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
    color: rgb(222, 222, 222);
    text-align: center;
    margin: 10px auto;
}

.find-name {
    font-size: 16px;
    color: rgb(222, 222, 222);
    text-align: center;
    
}

.find-job {
    font-size: 16px;
    color: rgb(222, 222, 222);
    margin: 2px 3px 0px 20px;
}