section {
  padding-top: 10vh;
  background-color: rgb(248, 248, 248);
}
.profile-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 30%;
  height: 100vh;
  float: left;
  background-color: white;
}
.center {
  width: 50%;
  height: 100vh;
  background-color: white;
  float: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.right {
  width: 30%;
  height: 100vh;
  float: right;
  background-color: white;
}
.profile img {
  width: 20%;
  height: 20%;
}
.profile {
  padding-top: 10%;
  text-align: center;
}
.profile-name {
  padding-top: 5%;
  text-align: center;
  font-weight: 600;
  padding-bottom: 3%;
}
.profile-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.first-ul {
  display: flex;
  flex-direction: column;
}
.title-job {
  margin-bottom: 3%;
}
.main-job {
  margin-bottom: 2%;
}
.main-job span {
  margin-right: 10%;
}
.career span {
  margin-right: 10%;
}

h3 {
  padding-left: 3%;
}
.introduce {
  padding-top: 3%;
  padding-bottom: 3%;
}

.meeting span {
  margin-right: 10%;
}
.outlink {
  margin-top: 3%;
}
.talk {
  width: 100%;
  height: 10%;
}
.talk button {
  margin-top: 3%;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-style: none;
}
.talk button:hover {
  background-color: rgb(213, 209, 209);
}

.button-name img {
  height: 10vh;
  border-radius: 10px;
}
.button-name {
  width: 100%;
  display: flex;
}
.mychat {
  margin-left: 5%;
  font-weight: 600;
}
