section {
  padding-top: 10vh;
}
.rec-mainpanel {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 3em;
  margin: 5vh auto;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}
.rec-content:hover {
  border-color: rgb(148, 178, 239);
}
.rec-content {
  width: 32%;
  height: 60vh;
  background-color: white;
  border: 1px solid rgb(222, 222, 222);
}

.rec-contentimg {
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(222, 222, 222);
  color: rgb(222, 222, 222);
  text-align: center;
}

.rec-placeholder {
  font-size: 16px;
  color: rgb(222, 222, 222);
  margin: 2px 3px 0px 20px; /* top right bottom left */
}
