.topbar-background {
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
  z-index: 999;
  background-color: #fff;
}
.top-bar-find a {
  float: right;
  background-color: white;
  font-weight: bold;
  color: black;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 1rem;
}
.top-bar-find a:hover {
  color: #94b2ef;
}
.topbar-first-filter {
  font-size: 25px;
  font-weight: bold;
  font-family: Tahoma;
  margin-left: 2%;
}
