.filter {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter span {
  display: inline-block;
  width: 110px;
  height: 40px;
  margin-right: 10px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.ft_selectbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1;
  display: none;
}
.ft_selectbox ul li {
  padding: 10px;
  cursor: pointer;
}
.filter span:hover .ft_selectbox ul {
  display: flex;
  flex-wrap: wrap;
  width: 33.33%;
}

.main {
  background-color: #fafafa;
  padding: 10px 30px;
}
.card {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 360px;
  margin: 20px;
  overflow: hidden;
  background-color: #ffffff;
}
.card_thumbnail {
  display: block;
  width: 100%;
  padding: 0;
  transition: all 0.15s linear;
}
.card_thumbnail:hover {
  transform: scale(1.2);
}
.card_contents {
  text-align: left;
  position: relative;
  left: 15px;
}
.card_title {
  width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 20px;
}
.card_user {
  position: relative;
  top: 5px;
  font-size: 14px;
}
.card_text {
  width: 330px;
  height: 100px;
  position: relative;
  top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 18px;
}
.card_upload_time {
  padding: 0;
  position: relative;
  top: 15px;
}
